SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
SLACK_REDIRECT_URI=http://127.0.0.1:8787/slack/oauth/callback
TOKEN_ENCRYPTION_KEY=
SLACK_MCP_ALLOWED_ORIGINS=http://127.0.0.1:8787
SLACK_MCP_SESSION_TTL_SECONDS=3600
SLACK_OAUTH_SCOPES=
SLACK_OAUTH_BOT_SCOPES=
SLACK_TOKEN_REFRESH_WINDOW_SECONDS=300
